<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% LANGUAGE %]">
  [% PROCESS 'layouts/head.tt' %]
  <body> <noscript><p>This page requires JavaScript.</p></noscript>
    <div class="unit layout">
      <div id="main-container" class="container ui-widget ui-widget-content ui-corner-all">
        <!-- start main header -->
        [% PROCESS 'layouts/main_header.tt' %]
        <!-- end main header -->
        <div id="main-columns" class="unit columns">
          [% UNLESS c.msession.guest; PROCESS 'main_left_navigation.html.tt'; END %]
          <div id="main-working-area" class="elastic column">
          [% content %]
          </div><!-- end div id="main-working-area" -->
        </div><!-- end div id="main-columns" -->
      </div><!-- end div id="main-container" -->
    </div><!-- end div class="unit layout" -->
  </body>
</html>
