/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .h1 a {
	background-image:url(images/h1.png); 
}
.markItUp .h2 a {
	background-image:url(images/h2.png); 
}
.markItUp .h3 a {
	background-image:url(images/h3.png); 
}
.markItUp .h4 a {
	background-image:url(images/h4.png); 
}
.markItUp .h5 a {
	background-image:url(images/h5.png); 
}
.markItUp .h6 a {
	background-image:url(images/h6.png); 
}

.markItUp .bold a {
	background-image:url(images/bold.png);
}
.markItUp .italic a {
	background-image:url(images/italic.png);
}

.markItUp .list_bullet a {
	background-image:url(images/list-bullet.png);
}
.markItUp .list_numeric a {
	background-image:url(images/list-numeric.png);
}

.markItUp .picture a {
	background-image:url(images/picture.png); 
}
.markItUp .link a {
	background-image:url(images/link.png);
}

.markItUp .quotes a	{
	background-image:url(images/quotes.png);
}
.markItUp .code a	{
	background-image:url(images/code.png);
}

.markItUp .preview .Markdown a {
	background-image:url(images/preview.png);
}
