[%#Order of code execution:
  #1.PROCESS...
  #2. USE PAGE_CONTENT...
  #3. WRAPPER...
%][%
PROCESS "layouts/${DOMAIN.id}/pre_process.tt";
WRAPPER ${SETTINGS.PAGE_LAYOUT} +%]
<!-- start [%+ action %] -->
[% 
    USE PAGE_CONTENT = PageContent();
    PAGE_CONTENT.render();
%]
<!-- end [%+ action %] -->
[%+ END +%]

