[%   
PROCESS "layouts/${DOMAIN.id}/pre_process.tt";
WRAPPER ${PAGE_LAYOUT} +%]
<!-- start [%+ action %] -->
[% 
    USE PAGE_CONTENT = PageContent();
    PAGE_CONTENT.render();
%]
<!-- end [%+ action %] -->
[%+ END %]
