body {height:100%;}
.layout {
    min-width: 780px;
    margin: auto;
    width: 99%;
    max-width: 1300px;
    min-height: 99%;
    height: 99%;
}
/*
  TODO: Think if some directives should be moved in a separate file "cpanel_skin.css"
  so we can achieve complete separation of layout and theme/skin.
*/
#main-container {
    padding: 2px;
    height:100%;
}
#main-header {
    padding: 3px;
    margin-bottom:1ex;
}
#title-main-header a {float: left;}
#main-right-menu{
    text-align:right;
}
#login_form {
  margin:1em auto 1em auto;
  width: 500px;
  
}
form fieldset {margin: 1em;}
form legend {
    margin: 0.5ex;
    padding: 0.5ex;
}
.help_icon {
  margin-left: 0.5ex;
}
form label {display: block;width:130px;}
form label, #login_form .field, #login_form .buttons {
    padding: 1ex;
}
form .field input {width:100%;}

form .buttons {
    text-align: right;
}

.help {
    display: none;
    font-style: italic;
    font-weight: normal;
    padding: 0 1ex 1ex;
}
#menu_languages .active { border: 1px outset silver;}
/**/