.unit {
}

#setup,.inner {
margin: auto;

}
.inner {
  padding: 0em 1ex 1em 1em ;
  background: url("img/logo3.png") no-repeat scroll;
  background-position:97% 5px;
  color:#366636;
  width:60%;
}
#system_check_div .ui-widget {margin-top:1em;padding:0.5em}
#setup ul.oks li {
  color:green;
  list-style:none;
}
.ui-widget p {margin: 1ex;}
#setup table th { 
  padding: 1ex;
  text-align:left;
}
#setup table tbody td {
  padding-left: 2em;
}

#setup form {
width: 400px;
margin: auto;
}
#setup form label,
#setup form input,
#setup form fieldset {
margin: 0.7ex;margin-top: 1ex;
}
#setup form legend {padding: 0.5ex;margin: 0.5ex;}
#setup form .help {
font-weight: normal;
display:none;
}
#setup form .buttons {
  text-align: right;
}
