[% WRAPPER ${TEMPLATE_WRAPPER} %]
<!-- start [% action %] -->
[% template.name %]<br />
When we edit a page we also edit it's properties like Title,keywords in one or more languages
etc.
<!-- end [%+ action +%] -->
[% END %]
