[%
domains_options = [];
FOREACH dd IN domains;
  domains_options.push({label=>dd.domain, value =>dd.id});
END;

page_type_options = [];
FOR pt IN page_types;
  page_type_options.push({label=>pt, value =>pt});
END;
language_options = [];
FOR option IN app.config('languages');
  language_options.push({label => option, value => option }); 
END;


%]
